.task-item.completed {
text-decoration: line-through;
}

.task-item {
  text-decoration: none;
}

.task-item:hover {
  background-color: aqua;
}

.date-item.completed {
  text-decoration: line-through;
  }
  
  .date-item {
    text-decoration: none;
  }
  
  .date-item:hover {
    background-color: aqua;
  }